{% extends "base/base.html" %}

{% load static %}

{% block title %}Editar Novedad{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock styles %}

{% block content %}

<h1>Editar Mensaje: {{ mensajeI.idNovedad }}</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="help-text">{{ field.help_text }}</small>
        {% endif %}
        {{ field.errors }}
      </div>
    {% endfor %}

    <button class="py-2 px-2 bg-inm-verde-100 hover:bg-inm-verde-200 rounded-xl text-white" type="submit">Guardar cambios</button>
    <a class="py-2 px-2 bg-inm-rojo-200 hover:bg-inm-rojo-300 rounded-xl text-white" href="{% url 'novedades_por_fecha' year=info_dia.year month=info_dia.month day=info_dia.day %}">Cancelar</a>
  </form>

{% endblock content %}